h1 {
    color: rgb(86, 22, 33);
}

body {
    cursor: url('images/pcb-cursor.png'), auto !important;
  }
  
  a:hover , button:hover {
    cursor: url('images/pw-hover-cursor.png'), auto !important;
  }
  
  